<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.IShopCartMapper">

    <!-- <resultMap id="MyRsultMap" type="com.qf.entity.Goods">
         &lt;!&ndash;id&ndash;&gt;
         <id column="id" property="id"/>
         <result column="subject" property="subject"/>
         <result column="info" property="info"/>
         <result column="price" property="price"/>
         <result column="save" property="save"/>
         &lt;!&ndash;createTime&ndash;&gt;
         <result column="create_time" property="createTime"/>
         &lt;!&ndash;status&ndash;&gt;
         <result column="status" property="status"/>
         &lt;!&ndash;fmurl&ndash;&gt;
         <result column="fmurl" property="fongmianurl"/>
         &lt;!&ndash; 对多&ndash;&gt;
         <collection property="otherurls" ofType="string">
             <result column="otherurls"/>
         </collection>

     </resultMap>


     <select id="queryGoodsListAfterAddGood" resultMap="MyRsultMap">
         select g.*,
         (select gis.url from goods_images gis where gid = g.id and gis.isfengmian = 1) as 'fmurl',
         gi.url as 'otherurls'
         from goods g join goods_images gi on g.id = gi.gid where gi.isfengmian = 0
     </select>

     <select id="selectGoodsDetailsById" resultMap="MyRsultMap">
 SELECT g.*,(select gi.url FROM goods_images gi where gi.gid =g.id  and gi.isfengmian=1) AS fmurl,gi.url as otherurls from goods g LEFT JOIN goods_images gi on gi.gid =g.id WHERE g.id=#{id} and gi.isfengmian=0
     </select>-->

</mapper>